NEXT_PUBLIC_SUPABASE_URL=https://gxksycbwylhkhihcvddw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=***REMOVED***
SUPABASE_SERVICE_ROLE_KEY=***REMOVED***

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=***REMOVED***

SPORTEASY_API_KEY=your-sporteasy-api-key
SPORTEASY_TEAM_ID=u14-26-27

NEXT_PUBLIC_VAPID_KEY=***REMOVED***
VAPID_PRIVATE_KEY=***REMOVED***
VAPID_EMAIL=mailto:cocob1908@gmail.com

RESEND_API_KEY=***REMOVED***
